/* Navbar container */
.navbar {
    
    font-size:  100%;
    display: flex;
    background: #0B3954;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  
    gap: 1%;
  
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2%;
    padding: 0;
  
    justify-content: center;
    align-items: center;
    text-align: center;
  
    overflow: hidden;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
  
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 100%;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #087E8B;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #087E8B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: #0B3954;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #logo {
    width: 8%;
    height: 8%;
    margin-left: 3%;
  }
  
  .navbar img {
    width: 2%;
    height: 2%;
  }
  
  #footerContainer {
  display: flex;
  flex-grow: 1;
  font-size: 100%;
  }
  
  #firstPart {
    display: flex;
    gap: 8rem;
  
    flex-direction: row;
    background: #0B3954;
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
    padding: 1.5rem 0;
  
    color: #F9A3A3;
  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 30%; 
    top: 86%;
  
    align-items: center;
    justify-content: center;
  }
  
  
  
  #secondPart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #0B3954;
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  
    gap: 7%;
    
    padding-bottom: 1.5rem;
    padding-top: 0;
  
    color: #F9A3A3;
  
    position: fixed;
    bottom: 0;
    right: 0;
    left: 71%;
    top: 86%;
  
   
    justify-content: center;
    
  }
  
  .email{
    font-size: 80%;
  }
  
    /* This line may interfer with your code (with some heritage and style), you can try removing it if resolves your problem. if so, dm me*/
    body {
      font-family: "Inter", sans-serif;
      color: #087E8B;
      margin: 0;
    
    }
    
  
  /* Responsive du Header et Footer */
  @media (max-width: 1530px){
  
    #firstPart {
        flex-shrink: 2;
        font-size: 50%;
    }
  
    #secondPart {
        flex-shrink: 2;
        font-size: 50%;
        gap: 0;
    }
  }
  @media (max-width: 1705px){
  
    .navbar {
        font-size: 75%;
        gap: 0%;
  
    }
  
    .navbar a{
        font-size: 75%;
    }
  
    .dropdown-content a{
        font-size: 50%;
    }
  
  
    .navbar img {
        width: 1%;
        height: 1%;
    }
    
  
  }
  
  @media (max-width: 1757px){
  
  footer {
    font-size: 50%;
  }
  
  #firstPart {
    gap: 0;
  }
  
  }
  
  
  @media (max-width: 1005px){
    #secondPart{
        font-size: 25%;
    }
  
    .navbar{
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
    }
  
  }
  
  @media (max-width: 604px){
    #firstPart {
      flex-shrink: 2;
      font-size: 25%;
  }
  
  #secondPart {
      flex-shrink: 2;
      font-size: 25%;
      gap: 0;
  }
    
  }

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}



h1{
font-family: 'Inter'  sans-serif;
font-style: normal;
font-weight: 4375%;

text-align: center;
text-decoration-line: underline;
color: #0B4262;
 text-shadow: 0% 25% 25% rgba(0, 0, 0, 0.25);
 
}
.texte{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 24px;
    color: #0B4262;
}
hr{
    width: 100%;
    height: 0px;

    
    border: 3px solid #CDCDCD;
}


.img {
    width: 10%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;

    float: left;
}

#end {
  margin-bottom: 40%;
}


