/* Start Header & Footer */
/* Navbar container */
.navbar {

  font-size:  100%;
  display: flex;
  background: #0B3954;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  gap: 1%;

  margin-left: 20%;
  margin-right: 20%;
  padding-left: 2%;
  padding: 0;

  justify-content: center;
  align-items: center;
  text-align: center;

  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;

  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 100%;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #087E8B;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #087E8B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #0B3954;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
  width: 8%;
  height: 8%;
  margin-left: 3%;
}

.navbar img {
  width: 2%;
  height: 2%;
}

.email{
  font-size: 80%;
}

/* This line may interfer with your code (with some heritage and style), you can try removing it if resolves your problem. if so, dm me*/
body {
  font-family: "Inter", sans-serif;
  color: #087E8B;
  margin: 0;

}


@media (max-width: 1705px) {

  .navbar {
    font-size: 75%;
    gap: 0%;

  }

  .navbar a {
    font-size: 75%;
  }

  .dropdown-content a {
    font-size: 50%;
  }


  .navbar img {
    width: 1%;
    height: 1%;
  }
}

/* The Modal (background) */
.classModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  align-items: center;
  justify-content: center;
  gap: 10%;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.nameCreator {
  color: #0B3954;
  font-weight: bolder;
}
.isen {
  font-weight: bolder;
  color: #C81D25;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalContainer {
  display: none;

}
#prompt {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
}

.align{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#call {
  padding: 20%;
  margin-right: 90%;
  border-radius: 20px;
  background: #0B3954;
  color: white;
}
#uncall {
  padding: 20%;
  margin-left: 90%;
  border-radius: 20px;
  background: #611a1a;
  color: white;
}

#firstPart {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-27 17:42:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1s infinite both;
  animation: wobble-hor-bottom 1s infinite both;
}


@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.blink-1 {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.openner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.openner:hover {
  background-color: #0B4262;
}
/*End of header & footer*/




#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

    box-sizing: border-box;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    height: 100%;
    gap: 5%;

  }


/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.reset {
    -webkit-animation: none;
            animation: none;
    transition: none;
  }

  .shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s both;
            animation: shake-horizontal 0.8s both, transitionCouleur 1s;
    border-radius: 18px;
    border: none;
    font-weight: 600;
  
  }

  
  /* Définition de la transition de couleur */
  @keyframes transitionCouleur {
    0% {
      background-color: var(--couleur-originale);
      color: var(--couleur-texte-originale);
    }
    50% {
      background-color: var(--couleur-rouge-pastel);
      color: var(--couleur-texte-blanc);
    }
    100% {
      background-color: var(--couleur-originale);
      color: var(--couleur-texte-originale);
    }
  }
  

i {
  color:#0B3954;
  padding: 5%;
  width: 50%;
  height: 50%;
  margin-top: 10%;
}


  .input {
    border-top: none;
    border-left: none;
    border-right: none;

    color: #0B4262;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;

    border-bottom: 6px solid rgba(217, 217, 217, 0.31);
  }

  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;

  }

  .placeholder {
   
    display: flex;
    justify-content: flex-end;
    width: 100%;

    margin: 5%;
    margin-bottom: 0;
  
}
  
  .text {
    font-size: 150%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #0B4262;


  }
  
  .mess {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }


  textarea{
    color: #0B4262;
    box-sizing: border-box;
    border: none;
    background: rgba(217, 217, 217, 0.31);
    border-radius: 15px;

    width: 30%;
    height: 100%;
    margin-top: 2%;

  }

  #default {
    background: rgb(185, 185, 185);
    border-radius: 18px;
    border: none;
    color: #0B4262;
    font-weight: 600;
   
  }
 
  .envoyer {
    align-self: flex-end;
  }

.visible {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 100%;
  display: block;
  color: rgb(161, 33, 33);
}
.errorText{
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 80%;
  display: none;
  color: rgb(161, 33, 33);
}

.subdiv{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.fruit {
  position: absolute;
  width: 30px;
  height: 30px;
}

.fruit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles pour le fruit doré */
.fruit-golden {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.fruit-golden-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

